#events {
  height: 100vh;
  width: auto; }
  #events .sidebar {
    z-index: 999; }
    #events .sidebar h1 {
      font-size: 4.5rem; }
  #events #event-app {
    height: 91%; }
  #events #event-nav {
    font-size: 2rem;
    height: auto; }

@media screen and (max-width: 990px) {
  #events .sidebar h1 {
    font-size: 2.5rem; } }

@media screen and (max-width: 768px) {
  #events #event-nav {
    font-size: 1.7rem; } }

@media screen and (max-width: 425px) {
  #events #event-nav {
    font-size: 1rem; } }
