body {
  background: #000000c0; }

#events {
  margin-top: 60px;
  height: calc(100vh - 60px); }

#app-content {
  height: 100%; }

#app-image-all-events {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/css/img/events/all-events.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 1;
  transition-delay: .1s;
  transition: opacity .5s linear; }

#app-image-all-events {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/css/img/events/all-events.jpg");
  opacity: 1; }

#app-image-music {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/css/img/events/music.jpg"); }

#app-image-sports {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/css/img/events/sports.jpg"); }

#app-image-theater {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/css/img/events/theater.jpg"); }

#app-image-arts {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/css/img/events/arts.jpg"); }

#app-image-culture {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("/css/img/events/culture.jpg"); }

#app-image-music,
#app-image-sports,
#app-image-theater,
#app-image-arts,
#app-image-culture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  opacity: 0;
  transition-delay: .1s;
  transition: opacity .5s linear; }

#app-nav {
  background: #030303;
  font-size: 1.5rem; }

.event-img {
  height: 150px;
  width: 200px;
  background-image: url("/css/img/events/music.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }
