body {
  background: #000000c0; }

#events {
  margin-top: 60px;
  height: calc(100vh - 60px); }

#app-content {
  height: 100%; }

#app-title {
  transition: opacity .5s linear;
  font-size: 2.9rem; }

#app-title-background {
  z-index: 1; }

#app-image-all-events {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/css/img/events/all-events.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  transition-delay: .1s;
  transition: opacity .5s linear;
  position: absolute;
  z-index: -1; }

#app-image-music {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/css/img/events/music.jpg"); }

#app-image-sports {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/css/img/events/sports.jpg"); }

#app-image-theater {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/css/img/events/theater.jpg"); }

#app-image-arts {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/css/img/events/arts.jpg"); }

#app-image-culture {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("/css/img/events/culture.jpg"); }

#app-image-music,
#app-image-sports,
#app-image-theater,
#app-image-arts,
#app-image-culture {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition-delay: .1s;
  transition: opacity .5s linear;
  z-index: -1; }

#app-nav {
  background: #030303;
  font-size: 1.5rem; }

.event-img {
  min-height: 150px;
  min-width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; }

#app-list {
  height: calc(100% - 44px);
  overflow: scroll;
  -ms-overflow-style: none;
  background-color: #030303; }
  #app-list li {
    background-color: #030303;
    min-height: 180px;
    height: 180px; }

#app-list::-webkit-scrollbar {
  display: none; }

@media screen and (max-width: 768px) {
  .event-img {
    min-width: 100px;
    min-height: 100px; }
  #app-list li {
    min-height: 150px;
    height: 150px; } }

@media screen and (max-width: 475px) {
  .event-title {
    font-size: 1.2rem; } }
