#events {
  height: 100vh;
  width: auto; }

.sidebar {
  z-index: 999; }
  .sidebar h1 {
    font-size: 4.5rem; }

#event-app {
  height: 93%;
  padding: 5rem 0 0 2rem; }
  #event-app h2 {
    font-size: 1.5rem; }

#event-list {
  overflow: scroll;
  height: 100%; }

.event-info {
  margin-bottom: 2rem; }

.event-img {
  background: url(/css/img/beer.jpg);
  background-size: cover;
  background-position: center;
  backgorund-repeat: no-repeat;
  height: 10rem;
  width: 14rem; }

#event-nav {
  font-size: 2rem;
  height: 3rem; }

@media screen and (max-width: 990px) {
  .sidebar h1 {
    font-size: 2.5rem; }
  #event-app h2 {
    font-size: 1.2rem; } }

@media screen and (max-width: 768px) {
  #event-nav {
    font-size: 1.7rem; }
  .event-img {
    height: 100px; } }

@media screen and (max-width: 425px) {
  #event-nav {
    font-size: 1rem; }
  .event-img {
    height: 100px; } }
