body {
  background: #000000c0; }

#events {
  margin-top: 60px;
  height: calc(100vh - 60px); }

#app-content {
  height: 100%; }

#app-nav {
  background: #030303;
  font-size: 1.5rem; }

.event-img {
  height: 150px;
  width: auto; }
