#hero {
  height: 110vh;
  margin-top: 4.5rem; }

#heroCarousel .carousel-inner {
  height: 100%; }

#heroCarousel .carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem 0 2rem; }

.hero-img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/home/downtown/downtown.jpg"); }

.airforce-img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/home/airforce/airforce.jpg"); }

.food-img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/home/food/food.jpg"); }

.foodtruck-img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/home/foodtruck/foodtruck.jpg"); }

.beer-img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/home/beer/beer.jpg"); }

.dark-overlay {
  background: #000000c0; }

#hero-plane {
  background-image: url("/css/img/home/plane/plane.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%; }
  #hero-plane h2 {
    font-size: 2.5rem; }

#places-to-go .col-md-2 {
  padding: 1rem .3rem 1rem 0; }
  #places-to-go .col-md-2:last-child {
    padding: 1rem 0 1rem 0; }

#places-to-go .place-to-go {
  height: 8rem;
  width: 10rem; }
  #places-to-go .place-to-go:hover {
    cursor: pointer; }
  #places-to-go .place-to-go .fas {
    font-size: 2rem; }

#place-dai,
#place-airforce,
#place-boonshoft,
#place-riverscape,
#place-carillon,
#place-sunwatch {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%; }

#place-dai {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/home/places-to-go/dai.jpg"); }
  #place-dai:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/home/places-to-go/dai.jpg"); }

#place-airforce {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/home/places-to-go/airforce.jpg"); }
  #place-airforce:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/home/places-to-go/airforce.jpg"); }

#place-boonshoft {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/home/places-to-go/boonshoft.jpg"); }
  #place-boonshoft:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/home/places-to-go/boonshoft.jpg"); }

#place-riverscape {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/home/places-to-go/riverscape.jpg"); }
  #place-riverscape:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/home/places-to-go/riverscape.jpg"); }

#place-carillon {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/home/places-to-go/carillon.jpg"); }
  #place-carillon:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/home/places-to-go/carillon.jpg"); }

#place-sunwatch {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/home/places-to-go/sunwatch.jpg"); }
  #place-sunwatch:hover {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("img/home/places-to-go/sunwatch.jpg"); }

#museums {
  margin-bottom: 1rem; }

.card {
  height: 18rem; }
  .card .card-img-top {
    object-fit: cover;
    position: relative;
    height: 200px;
    width: 100%;
    vertical-align: top; }
  .card .card-img-top:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red; }
  .card .card-img-top:hover:after {
    content: '';
    background-color: rgba(0, 0, 0, 0.5); }
  .card:hover {
    cursor: pointer; }
    .card:hover h3 {
      color: #880303; }

@media screen and (max-width: 768px) {
  .carousel-item h1,
  .carousel-item .btn,
  .carousel-item .hero-p,
  .carousel-item .tiny-text {
    margin: 0 2rem; }
  .carousel-item h1 {
    font-size: 2rem; }
  #places-to-go .col-md-2 {
    padding: 1rem .3rem 1rem 0; }
    #places-to-go .col-md-2:nth-child(1), #places-to-go .col-md-2:nth-child(2), #places-to-go .col-md-2:nth-child(3) {
      padding-bottom: .3rem; }
    #places-to-go .col-md-2:nth-child(4), #places-to-go .col-md-2:nth-child(5), #places-to-go .col-md-2:nth-child(6) {
      padding-top: .3rem; }
    #places-to-go .col-md-2:nth-child(3) {
      padding-right: 0; }
    #places-to-go .col-md-2:last-child {
      padding: .3rem 0 1rem 0; }
  #places-to-go .place-to-go {
    height: 8rem;
    width: 14rem; } }

@media screen and (max-width: 575px) {
  #hero {
    height: 75vh; }
    #hero .carousel-item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%;
      padding: 0 1rem 0 1rem; }
  #places-to-go .col-md-2:first-child {
    padding: 1rem .3rem .3rem 0; }
  #places-to-go .col-md-2:nth-child(2) {
    padding: 1rem 0 .3rem 0; }
  #places-to-go .col-md-2:nth-child(3) {
    padding: 0 .3rem .3rem 0; }
  #places-to-go .col-md-2:nth-child(4) {
    padding: 0 0 .3rem 0; }
  #places-to-go .col-md-2:nth-child(5) {
    padding: 0 .3rem 1rem 0; }
  #places-to-go .col-md-2:last-child {
    padding: 0 0 1rem 0; }
  #places-to-go .place-to-go {
    width: 17rem; } }
