#hero {
  height: 100vh; }
  #hero #heroCarousel {
    height: 100%; }
    #hero #heroCarousel .carousel-inner {
      height: 100%; }
    #hero #heroCarousel .carousel-item {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      width: 100%;
      height: 100%; }
  #hero .hero-img {
    background: url("img/hero.jpg"); }
  #hero .airforce-img {
    background-image: url("img/airforce.jpg"); }
  #hero .food-img {
    background-image: url("img/food.jpg"); }
  #hero .foodtruck-img {
    background-image: url("img/foodtruck.jpg"); }
  #hero .beer-img {
    background-image: url("img/beer.jpg"); }
  #hero .dark-overlay {
    background: #000000c0; }
  #hero .carousel-icon {
    font-size: 2rem;
    color: #f3f0e6; }

#history {
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/css/img/hero2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  background-attachment: fixed; }
  #history .history-img {
    background: url("/css/img/history.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%; }
  #history .innovation-img {
    background: url("/css/img/innovation.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%; }

@media screen and (max-width: 768px) {
  .carousel-item h1,
  .carousel-item .btn,
  .carousel-item .hero-p {
    margin: 0 2rem; }
  .carousel-item h1 {
    font-size: 2rem; }
  #history .history-img {
    display: none; }
  #history .innovation-img {
    display: none; } }

@media screen and (max-width: 575px) {
  #hero {
    height: 75vh; } }
