* a:hover {
  text-decoration: none; }

.navbar {
  background: #000000c0; }
  .navbar .navbar-brand {
    font-size: 1rem;
    line-height: 1rem; }
  .navbar .logo-icon {
    font-size: 2rem; }
  .navbar li a {
    text-decoration: none;
    padding-bottom: .3rem;
    border-bottom: 4px solid #00000000;
    transition: .3s ease-in; }
    .navbar li a:hover {
      text-decoration: none;
      border-bottom: 4px solid #9bddff; }

footer {
  background: #030303; }

@media screen and (max-width: 990px) {
  .navbar ul {
    font-size: .8rem; }
  .navbar .nav-item {
    margin-bottom: .6rem; } }

@media screen and (max-width: 768px) {
  .navbar ul {
    text-align: right; }
  .navbar a {
    font-size: 1rem; }
  .social-buttons {
    font-size: 1.5rem;
    justify-content: center; } }
