* a:hover {
  text-decoration: none; }

body {
  background: #f5f5f5; }

.container {
  max-width: 90%; }

.tiny-text {
  font-size: .6rem;
  letter-spacing: 2px;
  text-transform: uppercase; }

.navbar .navbar-brand {
  font-size: 1rem;
  line-height: 1rem; }

.navbar .logo-icon {
  font-size: 2rem; }

.navbar li a {
  text-decoration: none;
  padding-bottom: .3rem;
  border-bottom: 4px solid #00000000; }
  .navbar li a:hover {
    text-decoration: none; }

footer {
  background: #030303; }

@media screen and (max-width: 990px) {
  .navbar ul {
    font-size: .8rem; }
  .navbar .nav-item {
    margin-bottom: .6rem; } }

@media screen and (max-width: 768px) {
  .container {
    margin: 0;
    padding: 0;
    max-width: 100%; }
  .navbar ul {
    text-align: right; }
  .navbar a {
    font-size: 1rem; }
  .social-buttons {
    font-size: 1.5rem;
    justify-content: center; } }
