#museums {
  overflow: hidden;
  height: 20rem;
  margin-bottom: 1rem;
  background: #0c0c0c; }
  #museums #js-background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-image: linear-gradient(to left, transparent, transparent 50%, #030020 50%, #030020);
    background-position: 100% 0;
    background-size: 200% 100%;
    -webkit-transition: background-position .5s ease-in;
    -moz-transition: background-position .5s ease-in;
    transition: background-position .5s ease-in; }
    #museums #js-background #modal-content {
      opacity: 0;
      -webkit-transition: opacity .3s ease-in;
      -moz-transition: opacity .3s ease-in;
      transition: opacity .3s ease-in; }
    #museums #js-background .modal-closer-column {
      margin-top: 4rem; }
      #museums #js-background .modal-closer-column .modal-closer {
        font-size: 2rem; }
    #museums #js-background .museum-info-section {
      display: flex;
      padding-left: 3rem; }
  #museums .description {
    z-index: 999;
    background: #0c0c0c; }
  #museums .museum-block h2:hover {
    cursor: pointer; }
  #museums .dai {
    position: relative;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/css/img/museums/dai/dai.jpg);
    background-position: top-right;
    z-index: 1; }
    #museums .dai::before {
      background-image: url("/css/img/museums/dai/dai.jpg");
      background-position: top-right; }
    #museums .dai:hover::before {
      opacity: 1;
      background-position: top-right;
      cursor: pointer; }
  #museums .airforce {
    position: relative;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/css/img/museums/airforce/airforce.jpg);
    background-position: center;
    z-index: 1; }
    #museums .airforce::before {
      background-image: url("/css/img/museums/airforce/airforce.jpg");
      background-position: center; }
    #museums .airforce:hover::before {
      opacity: 1;
      background-position: center;
      cursor: pointer; }
  #museums .boonshoft {
    position: relative;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/css/img/museums/boonshoft/boonshoft.jpg);
    background-position: center;
    z-index: 1; }
    #museums .boonshoft::before {
      background-image: url("/css/img/museums/boonshoft/boonshoft.jpg");
      background-position: center; }
    #museums .boonshoft:hover::before {
      opacity: 1;
      background-position: center;
      cursor: pointer; }
  #museums .dai::before,
  #museums .airforce::before,
  #museums .boonshoft::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    transition: opacity .5s ease-in;
    opacity: 0; }
  #museums .dai,
  #museums .dai::before,
  #museums .airforce,
  #museums .airforce::before,
  #museums .boonshoft,
  #museums .boonshoft::before {
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%; }

@media screen and (max-width: 767px) {
  #museums .description {
    height: auto;
    padding-top: 3.5rem;
    text-align: center; }
  #museums .museum-block {
    height: 30%; }
  #museums #js-background .xs-modal-closer {
    display: block;
    font-size: 1.5rem;
    text-align: right;
    margin-top: 9rem; }
  #museums #js-background .museum-info-section {
    display: block;
    margin-top: 3rem;
    padding-left: 0; }
    #museums #js-background .museum-info-section p {
      text-align: justify;
      padding-right: 3rem; }
  #museums .dai,
  #museums .dai::before,
  #museums .dai:hover::before {
    background-position: center; } }

@media screen and (max-width: 575px) {
  #museums {
    height: 93vh; }
    #museums .museum-block {
      height: 26.5%; }
    #museums #js-background {
      height: 93vh; }
      #museums #js-background .museum-info-section {
        padding-right: 2rem;
        padding-left: 2rem; }
        #museums #js-background .museum-info-section p {
          padding: 0; }
      #museums #js-background .xs-modal-closer {
        margin-top: 6.2rem; }
      #museums #js-background .museum-info-section {
        margin-top: 1rem; }
        #museums #js-background .museum-info-section h1 {
          font-size: 2rem; }
    #museums #sidebar h1 {
      font-size: 1rem;
      height: 1rem; } }
