#carousel {
  height: 30rem; }

.carousel-control-prev,
.carousel-control-next {
  background: #000000c0;
  width: 8%; }
  .carousel-control-prev .fas,
  .carousel-control-next .fas {
    color: #f3f0e6;
    font-size: 1.5rem;
    transition: color .3s ease-in; }
    .carousel-control-prev .fas:hover,
    .carousel-control-next .fas:hover {
      color: #dc3545; }

.carousel-item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  padding: 0 2rem 0 2rem; }

.riverscape-img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/outdoors/riverscape.jpg"); }

.carillon-img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/outdoors/carillon-park.jpg"); }

.smith-img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/outdoors/smith-gardens.jpg"); }

.sunwatch-img {
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/outdoors/sunwatch.jpg"); }

#social {
  font-size: 2rem; }
