$primary: #9bddff;
$red: #dc3545;
$light: #f3f0e6;
$dark-transparent: #000000c0;
$black: #030303;

// Dark background behind top navbar
body {
	background: $dark-transparent;
}
// Align everything after navbar
#events {
	margin-top: 60px;
	height: calc(100vh - 60px);
}

// Make the divs stretch to the footer
#app-content {
	height: 100%;
}

// EVENT TITLE HEADER
#app-title {
	transition: opacity .5s linear;
	font-size: 2.9rem;
}

// Main Image
#app-title-background {
	z-index: 1;
}

#app-image-all-events {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
		url('/css/img/events/all-events.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 1;
	transition-delay: .1s;
	transition: opacity .5s linear;
	position: absolute;
	z-index: -1;
}

#app-image-music {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/css/img/events/music.jpg');
}

#app-image-sports {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/css/img/events/sports.jpg');
}

#app-image-theater {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/css/img/events/theater.jpg');
}

#app-image-arts {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/css/img/events/arts.jpg');
}

#app-image-culture {
	background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/css/img/events/culture.jpg');
}

#app-image-music,
#app-image-sports,
#app-image-theater,
#app-image-arts,
#app-image-culture {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	transition-delay: .1s;
	transition: opacity .5s linear;
	z-index: -1;
}

// Events navbar
#app-nav {
	background: $black;
	font-size: 1.5rem;
}

// Size the images in the events section
.event-img {
	min-height: 150px;
	min-width: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

// App List
#app-list {
	height: calc(100% - 44px);
	overflow: scroll;
	-ms-overflow-style: none; // Hides scrollbar while keeping functionality
	background-color: $black;

	li {
		background-color: $black;
		min-height: 180px;
		height: 180px;
	}
}

// Hides scrollbar while keeping functionality
#app-list::-webkit-scrollbar {
	display: none;
}

// MEDIUM SCREENS
@media screen and (max-width: 768px) {
	.event-img {
		min-width: 100px;
		min-height: 100px;
	}

	#app-list {
		li {
			min-height: 150px;
			height: 150px;
		}
	}
}

// XS SCREENS
@media screen and (max-width: 475px) {
	.event-title {
		font-size: 1.2rem;
	}
}
