$primary: #9bddff;
$red: #dc3545;
$light: #f3f0e6;
$dark-transparent: #000000c0;

//* CAROUSEL *//

#hero {
	height: 100vh;

	#heroCarousel {
		height: 100%;

		.carousel-inner {
			height: 100%;
		}

		.carousel-item {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 100%;
			padding: 0 2rem 0 2rem;
		}
	}

	.hero-img {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/hero.jpg");
	}
	.airforce-img {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/airforce.jpg");
	}
	.food-img {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/food.jpg");
	}
	.foodtruck-img {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/foodtruck.jpg");
	}
	.beer-img {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/beer.jpg");
	}

	.dark-overlay {
		background: $dark-transparent;
	}

	.carousel-icon {
		font-size: 2rem;
		color: $light;
	}
}

//* History Section *//

#history {
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/css/img/hero2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top;
	width: 100%;
	background-attachment: fixed;

	.history-img {
		background: url("/css/img/history.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
	}

	.innovation-img {
		background: url("/css/img/innovation.jpg");
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center;
		width: 100%;
		height: 100%;
	}
}

//* XS-MD SCREENS *//
@media screen and (max-width: 768px) {
	.carousel-item {
		h1,
		.btn,
		.hero-p {
			margin: 0 2rem;
		}

		h1 {
			font-size: 2rem;
		}
	}

	#history {
		.history-img {
			display: none;
		}

		.innovation-img {
			display: none;
		}
	}
}

//* XS-SM SCREENS *//

@media screen and (max-width: 575px) {
	#hero {
		height: 75vh;
		.container-fluid {
			height: 100%;
			margin: 0;
			padding: 0;
		}

		.carousel-item {
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			width: 100%;
			height: 100%;
			padding: 0 1rem 0 1rem;
		}
	}
}
