$primary: #9bddff;
$red: #dc3545;
$light: #f5f5f5;
$dark-transparent: #000000c0;
$black: #030303;

//* GENERAL *//
* {
	a:hover {
		text-decoration: none;
	}
}

body {
	background: $light;
}

.container {
	max-width: 90%;
}

.tiny-text {
	font-size: .6rem;
	letter-spacing: 2px;
	text-transform: uppercase;
}

//* NAVBAR *//
.navbar {
	.navbar-brand {
		font-size: 1rem;
		line-height: 1rem;
	}

	.logo-icon {
		font-size: 2rem;
	}

	li {
		a {
			text-decoration: none;
			padding-bottom: .3rem;
			border-bottom: 4px solid #00000000;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

//* FOOTER *//
footer {
	background: $black;
}

//* XS-LG SCREENS *//

@media screen and (max-width: 990px) {
	.navbar {
		ul {
			font-size: .8rem;
		}

		.nav-item {
			margin-bottom: .6rem;
		}
	}
}

//* XS-MD SCREENS *//
@media screen and (max-width: 768px) {
	.container {
		margin: 0;
		padding: 0;
		max-width: 100%;
	}

	.navbar {
		ul {
			text-align: right;
		}
		a {
			font-size: 1rem;
		}
	}

	.social-buttons {
		font-size: 1.5rem;
		justify-content: center;
	}
}
