$primary: #9bddff;
$red: #dc3545;
$light: #f3f0e6;
$dark-transparent: #000000c0;
$black: #030303;
$navy: #030020;

#museums {
	overflow: hidden;
	height: 100vh;
	background: $black;

	//** MODAL **//

	#js-background {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-image: linear-gradient(to left, transparent, transparent 50%, $navy 50%, $navy);
		background-position: 100% 0;
		background-size: 200% 100%;
		-webkit-transition: background-position .5s ease-in;
		-moz-transition: background-position .5s ease-in;
		transition: background-position .5s ease-in;

		#modal-content {
			opacity: 0;
			-webkit-transition: opacity .3s ease-in;
			-moz-transition: opacity .3s ease-in;
			transition: opacity .3s ease-in;
		}

		.modal-closer-column {
			margin-top: 4rem;

			.modal-closer {
				font-size: 2rem;
			}
		}

		.museum-info-section {
			display: flex;
			padding-left: 3rem;
		}
	}

	//** MUSEUMS SECTION DESCRIPTION **//
	.description {
		z-index: 999;
		background: $black;
	}

	//** MUSEUM PHOTO PANELS **//
	.museum-block {
		h2 {
			&:hover {
				cursor: pointer;
			}
		}
	}

	.dai {
		position: relative;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(/css/img/museums/dai/dai.jpg);
		background-position: top-right;
		z-index: 1;

		&::before {
			background-image: url("/css/img/museums/dai/dai.jpg");
			background-position: top-right;
		}

		&:hover::before {
			opacity: 1;
			background-position: top-right;
			cursor: pointer;
		}
	}

	.airforce {
		position: relative;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(/css/img/museums/airforce/airforce.jpg);
		background-position: center;
		z-index: 1;

		&::before {
			background-image: url("/css/img/museums/airforce/airforce.jpg");
			background-position: center;
		}

		&:hover::before {
			opacity: 1;
			background-position: center;
			cursor: pointer;
		}
	}

	.boonshoft {
		position: relative;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
			url(/css/img/museums/boonshoft/boonshoft.jpg);
		background-position: center;
		z-index: 1;

		&::before {
			background-image: url("/css/img/museums/boonshoft/boonshoft.jpg");
			background-position: center;
		}

		&:hover::before {
			opacity: 1;
			background-position: center;
			cursor: pointer;
		}
	}

	// Pseudo-elements to allow gradient fade-in
	.dai::before,
	.airforce::before,
	.boonshoft::before {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		transition: opacity .5s ease-in;
		opacity: 0;
	}

	.dai,
	.dai::before,
	.airforce,
	.airforce::before,
	.boonshoft,
	.boonshoft::before {
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}
}

//** UP TO SIZE MD **//
@media screen and (max-width: 767px) {
	#museums {
		.description {
			height: auto;
			padding-top: 3.5rem;
			text-align: center;
		}

		.museum-block {
			height: 30%;
		}

		#js-background {
			.xs-modal-closer {
				display: block;
				font-size: 1.5rem;
				text-align: right;
				margin-top: 9rem;
			}

			.museum-info-section {
				display: block;
				margin-top: 3rem;
				padding-left: 0;

				p {
					text-align: justify;
					padding-right: 3rem;
				}
			}
		}

		.dai,
		.dai::before,
		.dai:hover::before {
			background-position: center;
		}
	}
}

//** UP TO SIZE SM **//
@media screen and (max-width: 575px) {
	#museums {
		height: 93vh;

		.museum-block {
			height: 26.5%;
		}

		#js-background {
			height: 93vh;
			.museum-info-section {
				padding-right: 2rem;
				padding-left: 2rem;
				p {
					padding: 0;
				}
			}

			.xs-modal-closer {
				margin-top: 6.2rem;
			}

			.museum-info-section {
				margin-top: 1rem;

				h1 {
					font-size: 2rem;
				}
			}
		}

		#sidebar {
			h1 {
				font-size: 1rem;
				height: 1rem;
			}
		}
	}
}
