* {
	overflow: hidden;
}

#museums {
	height: 100vh;

	#js-background {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-image: linear-gradient(to left, transparent, transparent 50%, black 50%, black);
		background-position: 100% 0;
		background-size: 200% 100%;
		-webkit-transition: background-position .5s ease-in;
		-moz-transition: background-position .5s ease-in;
		transition: background-position .5s ease-in;
	}

	#modal-content {
		opacity: 0;
		-webkit-transition: opacity .4s ease-in;
		-moz-transition: opacity .4s ease-in;
		transition: opacity .4s ease-in;
	}

	.modal-closer-column {
		margin-top: 4rem;
	}

	.modal-closer {
		font-size: 2rem;
	}

	.description {
		z-index: 999;
	}

	.dai {
		position: relative;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/css/img/dai.jpg);
		background-position: top-right;
		z-index: 1;

		&:before {
			background-image: url("/css/img/dai.jpg");
		}

		&:hover::before {
			opacity: 1;
			cursor: pointer;
		}
	}

	.airforce {
		position: relative;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/css/img/airforce.jpg);
		background-position: center;
		z-index: 1;

		&::before {
			background-image: url("/css/img/airforce.jpg");
			background-position: center;
		}

		&:hover::before {
			opacity: 1;
			background-position: center;
			cursor: pointer;
		}
	}

	.boonshoft {
		position: relative;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/css/img/boonshoft.jpg);
		background-position: center;
		z-index: 1;

		&::before {
			background-image: url("/css/img/boonshoft.jpg");
			background-position: center;
		}

		&:hover::before {
			opacity: 1;
			background-position: center;
			cursor: pointer;
		}
	}

	//* 	Pseudo-element to allow gradient fade-in
	.dai::before,
	.airforce::before,
	.boonshoft::before {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		transition: opacity .5s ease-in;
		opacity: 0;
	}

	.dai,
	.dai::before,
	.airforce,
	.airforce::before,
	.boonshoft,
	.boonshoft::before {
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}
}
