$navy: #030020;

* {
	overflow: hidden;
}

#museums {
	height: 100vh;
	background: black;

	//** MODAL **//

	#js-background {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 0;
		background-image: linear-gradient(to left, transparent, transparent 50%, $navy 50%, $navy);
		background-position: 100% 0;
		background-size: 200% 100%;
		-webkit-transition: background-position .5s ease-in;
		-moz-transition: background-position .5s ease-in;
		transition: background-position .5s ease-in;

		#modal-content {
			opacity: 0;
			-webkit-transition: opacity .3s ease-in;
			-moz-transition: opacity .3s ease-in;
			transition: opacity .3s ease-in;
		}

		.modal-closer-column {
			margin-top: 4rem;

			.modal-closer {
				font-size: 2rem;
			}
		}

		.museum-info-section {
			display: flex;
			padding-left: 3rem;
		}
	}

	//** MUSEUMS SECTION DESCRIPTION **//
	.description {
		z-index: 999;
		background: #000000;
	}

	//** MUSEUM PHOTO PANELS **//
	.dai {
		position: relative;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/css/img/dai.jpg);
		background-position: top-right;
		z-index: 1;

		&::before {
			background-image: url("/css/img/dai.jpg");
			background-position: top-right;
		}

		&:hover::before {
			opacity: 1;
			background-position: top-right;
			cursor: pointer;
		}
	}

	.airforce {
		position: relative;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/css/img/airforce.jpg);
		background-position: center;
		z-index: 1;

		&::before {
			background-image: url("/css/img/airforce.jpg");
			background-position: center;
		}

		&:hover::before {
			opacity: 1;
			background-position: center;
			cursor: pointer;
		}
	}

	.boonshoft {
		position: relative;
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(/css/img/boonshoft.jpg);
		background-position: center;
		z-index: 1;

		&::before {
			background-image: url("/css/img/boonshoft.jpg");
			background-position: center;
		}

		&:hover::before {
			opacity: 1;
			background-position: center;
			cursor: pointer;
		}
	}

	// Pseudo-elements to allow gradient fade-in
	.dai::before,
	.airforce::before,
	.boonshoft::before {
		position: absolute;
		content: "";
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: -1;
		transition: opacity .5s ease-in;
		opacity: 0;
	}

	.dai,
	.dai::before,
	.airforce,
	.airforce::before,
	.boonshoft,
	.boonshoft::before {
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
	}
}

//** UP TO SIZE MD **//
@media screen and (max-width: 767px) {
	#museums {
		.description {
			height: auto;
			padding-top: 4rem;
			text-align: center;
		}

		.museum-block {
			height: 30%;
		}

		#js-background {
			.xs-modal-closer {
				display: block;
				font-size: 1.5rem;
				text-align: right;
				margin-top: 9rem;
			}

			.museum-info-section {
				display: block;
				margin-top: 3rem;
				padding-left: 0;

				p {
					text-align: justify;
					padding-right: 3rem;
				}
			}
		}

		.dai,
		.dai::before,
		.dai:hover::before {
			background-position: center;
		}
	}
}

//** UP TO SIZE SM **//
@media screen and (max-width: 575px) {
	#museums {
		#js-background {
			.museum-info-section {
				padding-right: 2rem;
				padding-left: 2rem;
				p {
					padding: 0;
				}
			}
		}
	}
}
